/* responsive.css */

/* Γενικές ρυθμίσεις για κινητά */
body {
    font-size: 20px;
    line-height: 1.5;
    text-align: center; /* Εξασφαλίζει την κεντραρισμένη στοίχιση για το σώμα */
}

/* Μέχρι 1200px */
@media (max-width: 1200px) {
    .main {
        width: 90%;
        margin: 50px auto;
    }
}

/* Μέχρι 992px */
@media (max-width: 992px) {
    .menu-column {
        width: 45%;
        margin-bottom: 20px;
    }

    .menu-column h4 {
        font-size: 20px;
    }

    .single-menu img {
        width: 60px;
        height: 60px;
    }

    .menu-content h5 {
        font-size: 16px;
    }

    .menu-content p {
        font-size: 12px;
    }
}

/* Μέχρι 768px */
@media (max-width: 768px) {
    .menus {
        flex-direction: column;
        align-items: center;
    }

    .menu-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .single-menu {
        flex-direction: column;
        align-items: center;
        text-align: center; /* Εξασφαλίζει την κεντραρισμένη στοίχιση */
        max-width: 90%; /* Περιορίζει το πλάτος για καλύτερη στοίχιση */
    }

    .single-menu img {
        margin-bottom: 10px;
    }

    .menu-content {
        text-align: center; /* Εξασφαλίζει την κεντραρισμένη στοίχιση */
    }

    .menu-content h5 {
        font-size: 14px;
    }

    .menu-content p {
        font-size: 12px;
        word-wrap: break-word; /* Εξασφαλίζει ότι το κείμενο θα τυλίγεται σωστά */
    }
}

/* Μέχρι 576px */
@media (max-width: 576px) {
    .main {
        width: 100%;
        margin: 20px auto;
    }

    .section-title h2 {
        font-size: 28px;
    }

    .section-title p {
        font-size: 14px;
    }

    .menu-column h4 {
        font-size: 18px;
    }

    .single-menu img {
        width: 50px;
        height: 50px;
    }

    .single-menu {
        text-align: center; /* Εξασφαλίζει την κεντραρισμένη στοίχιση */
        max-width: 90%; /* Περιορίζει το πλάτος για καλύτερη στοίχιση */
    }

    .menu-content {
        text-align: center; /* Εξασφαλίζει την κεντραρισμένη στοίχιση */
    }

    .menu-content h5 {
        font-size: 12px;
    }

    .menu-content p {
        font-size: 10px;
        word-wrap: break-word; /* Εξασφαλίζει ότι το κείμενο θα τυλίγεται σωστά */
    }
}
