* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    /*background-color: aqua;*/
    color: #222;
}

.main {
    width: 1170px;
    margin: 100px auto;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
}

.section-title h2 {
    text-transform: capitalize;
    font-size: 35px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.section-title h2:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-column {
    width: 30%;
}

.menu-column h4 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.menu-column h4::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.single-menu {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.single-menu img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
    transition: transform 0.6s ease-in-out;
}

.single-menu img:hover {
    transform: rotate(360deg);
}

.menu-content h5 {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    border-bottom:1px dashed #222;
    padding-bottom:5px;
    margin-bottom:10px;
    justify-content: space-between;
}

.menu-content h5 span {
    color: tomato;
    float: right;
    font-weight: 600;
    font-style: italic;
}

.menu-content p {
    font-size: 14px;
    color: #666;
}

.language-selector {
    text-align: center;
    margin: 20px 0;
}

.flag {
    width: 50px;
    height: auto;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.flag:hover {
    transform: scale(1.1);
}
